.home-container {
    
    
    margin: 0 auto;
    padding: 20px;
}

h1 {
    font-size: 2.5rem;
    margin-bottom: 20px;
}

p {
    font-size: 1.2rem;
    margin-bottom: 20px;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    margin-bottom: 20px;
}

.route-link {
    font-size: 1.1rem;
    color: #007BFF;
    text-decoration: none;
    font-style: italic;
}

.route-link:hover {
    text-decoration: underline;
}

span{
    margin-left: 5px;
    font-style: italic;
}